{% extends "base.html" %}
{% block content %}
    <h1>Members</h1>
    <section>
        {% for member in members %}
            {% if loop.index % 2 == 1 %}
                <div class="row">
            {% endif %}
            <article class="col-md-6 col-s-12">
                <img src="{{ url_for('static', filename='member_photos/') }}{{member.photo}}" />
                <p>
                    <h3>{{ member.first_name }} {{ member.second_name }}</h3>
                    <strong>{{ member.electorate.name }}</strong> - {{ member.electorate.chamber.house }} ({{ member.electorate.chamber.state }})<br />
                    {{ member.party.name }}<br />
                    {% if member.role: %}
                        {{ member.role }}<br />
                    {% endif %}
                    {% if member.email %}
                        <a href="mailto:{{member.email}}">{{member.email}}</a>
                    {% endif %}
                </p>
                {% for address in member.addresses %}
                    <address>
                        {{ address.address_line1 }}<br />
                        {% if address.address_line2: %}{{ address.address_line2 }}<br />{% endif %}
                        {% if address.address_line3: %}{{ address.address_line3 }}<br />{% endif %}
                        {{ address.suburb }} {{ address.state }} {{ address.postcode }}
                    </address>
                {% endfor %}
                <ul>
                    {% for link in member.links %}
                        <li><a href="{{link.link}}">{{link.type}}</a></li>
                    {% endfor %}
                </ul>
            </article>
            {% if loop.index % 2 == 0 %}
                </div>
                <hr />
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
